body{
    font-family: bahnschrift;
    display: flex;
}

.box{
    display: flex;
    flex-direction:column;
    padding: 5px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #000;
}

header{
    display: flex;
}