body{
    font-family: bahnschrift;
    display: flex;
}

.box{
    display: flex;
    flex-direction:column;
    padding: 5px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #000;
}

header{
    display: flex;
    background: #3d7068;
    color: #fff;
    padding: 20px;
}

main{
    display: flex;
}

section{
    flex: 1;
}

figure{
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#BorderColliePicture{
    width: 100%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: end;
    background: #43c59e;
    color: #fff;
}